body { 
	font-size: 80%; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background: #666666;
	padding: 0; margin: 0;
}
* html body {
	font-size: 72%; 
}


p, h4 { font-size: 1em; font-family: Verdana, Arial, Helvetica, sans-serif; }

a {  		color: #036; font-weight: bold; text-decoration: none; }
a.style2, 
#footer a, 
#topnav a
 { color: #99ccff; font-weight: bold; text-decoration: none; }
a:hover {	text-decoration: underline; }
a img { border: none; }

h1, h2, h3 {
	font-family: "Century Gothic", arial, chicago, helvetica, sans-serif; 
}
h1 {	font-size: 1.8	em; 
		background: transparent; 
		margin: 0 0 .5em 0; 
}

h2 {	font-size: 1.5em; font-style: normal; line-height: normal; font-weight: normal; }
h3 {	font-size: 1.4em; font-style: normal; line-height: normal; font-weight: normal; }
h6 {	font-weight: bold; }
h5 {	font-weight: bold; }
h4 {	font-size: 1.2em; font-weight: normal; }

.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; text-align: center }
li { }

.spotlight { 
	font-size: 1.2em;
}
#mastheadContainer, #footerContainer { 
	background-color: #777; color: #fff; text-align: center;
}
#masthead, #footer { 
/*	width: 710px; background-color: #666; color: #fff; text-align: center; */
	background-color: #666; color: #fff; text-align: center;
	margin: 0 auto;
	padding-bottom: 1em;
}
#contentArea { 
	background-color: #ccc; 
	text-align: center;
}
#topnavWrapper {
	background-color: #555; 
	color: #fff; 
	text-align: center;
}
#topnavContainer {
/*	width: 710px; */
	margin: 0 auto;
}
#topnav {
	background-color: #444; 
	color: #fff; 
	text-align: left;
	padding: 10px 8px 10px 24px;
}
.maincontentContainer, 
.secondarycontentContainer
 { 
	background-color: #eee; 
	width: 710px;
	text-align: left;
	margin: 0 auto;
}

.maincontent {
	padding: 24px 8px 16px 8px;
}


.secondarycontent {
	padding: 16px 8px;
	background-color: #ddd;
}

.leftcol { 
/*	float: left; width: 62%; */
	float: left; width: 55%;
}
.rightcol { 
/*	float: left; width: 37.9%; */
	float: left; width: 45%;
	background-color: #ccc; color: #000;
}
.sidebarBox { 
	border: 1px solid #ccc; 
	padding: 0;
}
.sidebarBox h4 { background-color: #666; color: #fff; margin: 0; padding: 4px 8px; }
.contentContainer { padding: 4px 20px 4px 8px; } 
.clearer { clear: both; }

.current { 
	margin: 0 0 1em 0; padding: .5em;
}

dl.nameValues { 
	margin: .5em 0 .5em 0; padding: 0
}
dl.nameValues + * { 
	clear: both;
}
dl.nameValues dt { 
	display: block;
	clear: both; float: left; width: 26%; 
	margin: 0; padding: 0 0 .2em 0;
	border-bottom: 1px dotted #ccc;
}
dl.nameValues dd { 
	display: block;
	float: left; width: 68.9%; 
	margin: 0; padding: 0 0 .2em 0;
	border-bottom: 1px dotted #ccc;
}
